  body {
    background-color: #5584AC
        }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: white;
    border-width: 5px;
    width: 5%;
      }

  h1 {
    color: white;


  }

  h3 {
    color: white;



  }
